# Bỏ qua thư mục dữ liệu
2-0DataDuKien/

# Bỏ qua file hệ thống
.DS_Store
Thumbs.db

# Python virtual environment
.venv/
2-2Models/TryOn/IDM-VTON/env/

# Large Model Weights & Generated Outputs
2-2Models/TryOn/IDM-VTON/ckpt/
2-2Models/TryOn/IDM-VTON/yisol/
2-2Models/TryOn/IDM-VTON/output_test/

